<div class="container">
  <%= image_tag @product.image.url(:medium) %>
  <h1><%= @product.name %> </h1>
  <h6>$<%= @product.price %> </h6>
  <h4><%= @product.detail %> </h4>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <%= link_to "Delete", product_path(@product), :data => {:confirm => "Are you sure?", method: "delete"} %>
    <% end %>
  <% end %>
  <br><br><br>
  <h6>Reviews</h6>
  <%= link_to "Please log in to write a review", new_product_review_path(@product) %>
  <hr>
  <% @product.reviews.each do |review| %>
  <div class="well">
    <p><%= review.review %></p>
    <% if current_user %>
      <% if current_user.id == review.user_id || current_user.admin? %>
        <%=link_to product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure?"} do%><span class="glyphicon glyphicon-remove delete-comment"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <br>
</div>

<p><%= link_to "Return", products_path %></p>
